:root {
  --font-mono: "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono",
    "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono",
    "Courier New", monospace;
}

html,
body {
  width: 100vw;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
body {
  color: rgb(255, 255, 255);
  font-family: var(--font-mono);
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: #011e3a;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style-type: none;
}
h1,
h2,
h3,
p,
ul {
  padding: 0;
  margin: 0;
}
main {
  min-height: calc(100vh - 60px);
}
