@import "../utils/container";
@import "../utils/mixins";
.casino {
  padding: 50px 0;
}
.casino__list {
  @include flexCenter();
  gap: 20px;
  flex-wrap: wrap;
}
.casino__item {
  width: 600px;
  cursor: pointer;
  @include mediaQuery(768px) {
    max-width: 500px;
  }
}
.casino__link {
  @include flexCenter();
  gap: 15px;
}

.casino__title {
  padding-bottom: 10px;
  @include font(16px, 400, 16px);
  @include mediaQuery(768px) {
    @include font(20px, 400, 20px);
  }
}
.casino__text {
  @include font(10px, 300, 10px);
  @include mediaQuery(768px) {
    @include font(12px, 300, 12px);
  }
}
.casino__img {
  border-radius: 50px 0 50px;
  width: 120px;
  height: 120px;
}

.casino__search__box {
  @include flexCenter();
  gap: 20px;
  margin-bottom: 20px;
}

.input {
  @include font(16px, 600, 16px);
  resize: none;
  height: 20px;
  border-radius: 8px;
  color: #f2c193;

  background: linear-gradient(to right, #170a3d, #011e3a, #170a3d);
  border: none;
  padding: 10px;

  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  transition: all 0.6s;
  &:hover,
  &:focus {
    scale: 1.1;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
      0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    color: #f2f2f2;
    background: linear-gradient(to right, #011e3a, #170a3d, #011e3a);
    outline: none;
  }
}
